<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Car shoparuski</title>
</head>
<body>
    <div class="grid-container">
    <header class="header"> 
        <div class="brand">
            <a href="index.html" class="a">Home</a>
        </div>
        <div class="header-links">

            <a href="cart.html" class="a">Cart</a>

            <a href="signin.html" class="a">Sign In</a>
        </div>
    </header>
    
    
    
    <main>
        <div class="content">
            <ul class="products">
                <li class="li">
                    <div class="product">
                        <img src="images/d1.jpg" alt="product" class="img">
                        <div class="product-name">
                            <a href="product.html" class="product-name">BMW</a>
                            </div>
                        <div class="product-brand">X5</div>
                        <div class="price">65.000$</div>
                    </div>
                </li>
                <li class="li">
                    <div class="product">
                        <img src="images/d2.jpg" alt="product" class="img">
                        <div class="product-name">
                            <a href="product.html" class="product-name">GOLF</a>
                            </div>
                        <div class="product-brand">7</div>
                        <div class="price">32.000$</div>
                    </div>
                </li>
                <li class="li">
                    <div class="product">
                        <img src="images/d3.jpg" alt="product" class="img">
                        <div class="product-name">
                            <a href="product.html" class="product-name">FORD</a>
                            </div>
                        <div class="product-brand">Mustang</div>
                        <div class="price">85.000$</div>
                    </div>
                </li>
                
            </ul>
        </div>
       
    </main>
    <footer class="footer"> All rights reserved</footer>
    </div>
</body>
</html>

